@import "../../app.scss";
.BookList {
  min-width: 500px;

  &__title {
    display: flex;
    justify-content: center;
  }
  &__list {
    list-style: none;
    padding: 0;
  }
  &__no-books {
  }
  &__item-wrapper {
    display: flex;
  }
  &__item {
    margin-bottom: 30px;
    padding: 5px;
  }
  &__item:hover {
    background-color: white;
  }
  &__title {
    margin-bottom: 10px;
  }
  &__author {
    font-size: 1.3rem;
  }
  &__author span {
    font-size: 26px;
    font-weight: 800;
    text-decoration: underline;
  }
  &__index {
    margin-right: 10px;
    font-weight: 800;
  }
}
