@import "../../app.scss";
.BookList {
  min-width: 500px;

  &__title {
    display: flex;
    justify-content: center;
  }
  &__list {
    list-style: none;
    padding: 0;
  }
  &__no-books {
  }
  &__text-wrapper {
    display: flex;
  }
  &__btn-wrapper {
    display: flex;
    z-index: 0;
  }
  &__favorite {
    transition: color 0.3s ease;
  }
  &__favorite-inactive {
    color: grey;
  }
  &__favorite-active {
    color: gold;
  }
  &__text-wrapper {
    display: flex;
  }
  &__favorite {
    width: 50px;
    height: 50px;
    z-index: 1;
  }
  &__delete {
    padding: 5px;
    border: 1px solid grey;
    border-radius: 10px;
    background-color: rgb(210, 73, 73);
    color: white;
  }
  &__item-wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    margin-bottom: 30px;
    padding: 5px;
  }
  &__item:hover {
    background-color: white;
  }
  &__title {
    margin-bottom: 10px;
  }
  &__author {
    font-size: 1.3rem;
  }
  &__author span {
    font-size: 26px;
    font-weight: 800;
    text-decoration: underline;
  }
  &__index {
    margin-right: 10px;
    font-weight: 800;
  }
  &__highlight {
    background-color: rgb(250, 207, 99);
  }
}
